<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for IL2JS_CCI.ruleset" Description="This rule set was created from the CodeAnalysisRules property for the &quot;Debug (Any CPU)&quot; configuration in project &quot;D:\lldevtools\developers\mshields\IL2JS\CCI\IL2JS_CCI.csproj&quot;." ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA2227" Action="None" />
  </Rules>
</RuleSet>